* {
    transition: 0.5s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova, proxima-nova, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100% !important;
}

.bg-custom {
    background-color: #2a313c;
    padding: 0;
}

.navbar-toggler {
    background-color: #ff5629;
    border-radius: 4px;
    margin-right: 20px;
}

.navbar-toggler:hover {
    background-color: #fccebd;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar .navbar-brand {
    padding: 5px 30px;
    margin: 10px 40px;
    height: 40px;
    background-color: #ff5629;
    /* width: 160px; */
    color: #fccebd !important;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.navbar .navbar-brand:hover {
    border-radius: 4px;
}


.navbar .navbar-brand span {
    color: white;
    padding-left: 5px;
}

.navbar .navbar-brand:hover {
    background-color: #fccebd;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.navbar .navbar-brand:hover span {
    color: #ff5629;
}

@media(max-width: 320px) {


}

.right-divider {
    position: relative;
    border-right: 1px solid #687992;
    height: 30px;
    top: 5px;
    display: inline-block;
    margin-top: 8px;
}


.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 15px;
    font-weight: 900;
    display: inline-block;
}



.navbar-nav .nav-item a.active {
    position: relative;
    color: white !important;


}

.navbar-nav .nav-item a.active:focus {
    color: white;
}

.nav-item a.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff5629;
    bottom: 0;
    left: 0;
    transition: all 0.4s linear;
}


.navbar-nav .nav-item .nav-link:hover {
    color: white !important;
    opacity: 1;
}

.navbar-nav .nav-item .btn-outline {
    border: 2px solid #687992;
    border-radius: 4px;
    padding: 8px 20px;
    color: #687992 !important;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    height: 40px;
    box-sizing: border-box;
}

.navbar-nav .nav-item .btn-outline-filled {
    background-color: #687992;
    color: white !important;
    opacity: 1;
    padding: 10px 20px;
    border-radius: 4px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 8px;
    box-sizing: border-box;
}

.navbar-nav .nav-item .btn-outline-filled:hover {
    padding-top: 9px;
}

.navbar-nav .nav-item .btn-outline:hover {
    background-color: #687992;
    padding-top: 7px;
}

/* .img-bg {
    background-image: url(https://dq2uhp934kg74.cloudfront.net/production/20190629-040559/client/site/ux/LP/LPHero/hero-fist-bump.svg);
    background-repeat: no-repeat;
    background-position-x: ;
    background-position-y: bottom;
    background-size: 600px;
    height:auto;
} */

.img-bg img {
    height: auto;
    width: 100%;
}

.bg-gray {
    background-color: #4f5661;
}

.bg-gray .row {
    width: 86%;
}

.caption {
    padding-top: 100px;
    height: 450px;
    color: white;
}

.caption h1 {
    font-weight: 900;
    font-size: 3rem;
}

.caption p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 1.7rem;
}

.caption a {
    margin-top: 10px;
    background-color: #ff5629;
    color: #fff;
    transition: 0.5s ease-in-out;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 1.25rem;
    width: auto;
    border-radius: 10px;
}

.caption a:hover {
    background-color: #fccebd;
    color: #4f5661;
    font-weight: 600;
    text-decoration: none;
    /* transition: 0.5s ease-out; */
}

@media only screen and (max-width: 414px) {}

/* section */


.bg-brown {
    background-color: #F6F4F0;
    box-sizing: content-box;
}

.bg-brown {
    padding-top: 50px;
    text-align: center;
}

.bg-brown h1 {
    font-weight: 900;

    margin-bottom: 50px;
}

.bg-brown h1:hover span {
    color: #ff5629;
}

.bg-brown .row {
    width: 85%;
}

.blogs {
    border-radius: 5px;
    background-color: #687992;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.blogs:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blogs img {
    height: auto;
    width: 100%;
    max-width: 576px;
    min-width: 210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blogs h3 {
    padding-top: 40px;
    font-weight: 800;
    font-size: 30px;
}

.blogs h6 {
    padding-right: 50px;
    text-align: right;
    font-style: italic;
}

.blogs p {
    padding: 20px;
    font-size: 14px;
    line-height: 1.4;
}

.blogs a {
    width: 200px;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px auto;
    font-weight: 600;
    border: 3px solid white;
    color: white;
}

.blogs a:hover {
    color: #687992;
    border: 3px solid #fccebd;
    background-color: #fccebd;
}

/* .expert-bg {
    background-image: url(https://dq2uhp934kg74.cloudfront.net/production/20190629-040559/media/illustrations/hero_fireside-chat.svg);
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size:cover;
} */

#experts {
    margin-top: 50px;
    background-color: #4f5661;
}

#experts .row div div {
    margin-left: 20%;
}

#experts .row div div h1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.bg-lighter {
    margin-top: 50px;
    background-color: #2a313c;
}


/* list of experts */
.list-wrapper {
    width: 85%;
    color: #30404f;
    margin: 10px auto;
    margin-bottom: 0;
    text-align: center;
}

.list-wrapper .list {
    transform: translateY(0px);
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFECD9;
}


.list-wrapper .list:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.list-wrapper img {
    margin-top: 40px;
    border-radius: 100%;
}

.list-wrapper h4 {
    font-weight: 600;
}

.list-wrapper .list p i {
    padding-right: 10px;
}

.list-wrapper p.tags {
    padding-bottom: 40px;
}

.list-wrapper p.location {
    padding-bottom: 20px;
    margin: 0;
}

.list-wrapper p.location,
.list-wrapper p.tags {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* subscribe */

.submit {
    border-radius: 4px;
    padding: 10px 25px;
    background-color: #F89D3B;
    color: #4f5661;
    height: 50%;
}

.submit:hover {
    background-color: #fccebd;
}

.contacts-wrapper {
    background-color: #30404f;
    color: white;
    padding: 30px 0;
    margin-bottom: 0 !important;
}

.contacts {
    width: 85%;
    margin: auto;
}

.footer {
    background-color: #2a313c;
}

.footer span {
    color: #fccebd;
}

.footer a {
    text-decoration: none;
    color: #F89D3B;
}

.footer a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    #experts {
        display: flex;
        justify-content: center;
    }


    .img-bg {
        display: none !important;
    }
}



/* 

/
/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/
/
/ */

/* dashboard CSS */
html,
body {
    margin: 0;
}


a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



div.dashboard {
    background-color: #30404f;
    padding-bottom: 60px;

}


div.main_container {
    width: 85%;
    margin: 0 auto;
}



nav.navbar {
    width: 100%;
    position: fixed;
    z-index: 9999;
}



.bg-custom {
    background-color: #2a313c;
    padding: 0;
}

.navbar-toggler {
    background-color: #ff5629;
    border-radius: 4px;
    margin-right: 20px;
}

.navbar-toggler:hover {
    background-color: #fccebd;
}

.navbar .navbar-brand {
    padding: 5px 30px;
    margin: 10px 40px;
    height: 40px;
    background-color: #ff5629;
    /* width: 160px; */
    color: #fccebd;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.navbar .navbar-brand:hover {
    border-radius: 4px;
}


.navbar .navbar-brand span {
    color: white;
    padding-left: 5px;
}

.navbar .navbar-brand:hover {
    background-color: #fccebd;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.navbar .navbar-brand:hover span {
    color: #ff5629;
}

.right-divider {
    position: relative;
    border-right: 1px solid #687992;
    height: 30px;
    top: 5px;
    display: inline-block;
    margin-top: 8px;
}


div.float_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.navbar-nav .nav-item .nav-link {
    color: white;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 15px;
    font-weight: 900;
    display: inline-block;
}

.navbar-nav .nav-item .on {
    border-bottom: 5px solid #ff5629;
    opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white !important;
    opacity: 1;
}

.navbar-nav .nav-item .btn-outline {
    border: 2px solid #687992;
    border-radius: 4px;
    padding: 8px 20px;
    color: #687992 !important;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    height: 40px;
    box-sizing: border-box;
}

.navbar-nav .nav-item .btn-outline-filled {
    background-color: #687992;
    color: white !important;
    opacity: 1;
    padding: 10px 20px;
    border-radius: 4px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 8px;
    box-sizing: border-box;
}

.navbar-nav .nav-item .btn-outline-filled:hover {
    padding-top: 9px;
}

.navbar-nav .nav-item .btn-outline:hover {
    background-color: #687992;
    padding-top: 7px;
}


.img-bg img {
    height: auto;
    width: 100%;
}

.bg-gray {
    background-color: #4f5661;
}

.bg-gray .row {
    width: 86%;
}

.caption {
    padding-top: 100px;
    height: 400px;
    color: white;
}

.caption h1 {
    font-weight: 900;
    font-size: 3rem;
}

.caption p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 1.7rem;
}

.caption a {
    margin-top: 10px;
    background-color: #ff5629;
    color: #fff;
    transition: 0.5s ease-in-out;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 1.25rem;
    width: auto;
    border-radius: 10px;
}

.caption a:hover {
    background-color: #fccebd;
    color: #4f5661;
    font-weight: 600;
    text-decoration: none;
    /* transition: 0.5s ease-out; */
}






div.dashboard_head {
    padding-top: 60px;
    background-color: #3F4B5B;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

div.dashboard_head div.main_head {
    width: 100%;

}

div.main_heading {
    text-align: center;
    padding-top: 60px;
}

div.main_heading h1 {
    font-size: 52px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}

div.main_paragraph {
    text-align: center;
}

div.main_paragraph p {
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    padding: 20px 30px;
}

div.get_started {
    text-align: center;
    padding-bottom: 40px;

}


div.get_started a {
    font-size: 20px;
    text-align: center;
    padding: 12px 50px;
    border-radius: 20px;
    text-transform: capitalize;
    color: white;
    transition: all .2s linear;
    background-color: #2a313c;
    font-weight: bold;
    position: relative;


}


div.get_started a:hover {
    color: transparent;
    text-shadow: 0px -2px 0px #ff5629;
}






div.dashboard div.title {
    padding: 30px 0px;
}

div.dashboard div.title h3 {
    color: #ffffff;
    font-size: 32px;
    padding-left: 10px;
}


div.box {
    display: flex;
    flex-wrap: wrap;
}


div.box div.box1 {
    width: calc(100% / 4 - 20px);
    margin: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translateY(0px);
    transition: transform .2s linear;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
}


div.box div.box1:hover {
    transform: translateY(-10px);
}



div.box1 div.column_box {
    width: 100%;
    height: 180px;
    overflow: hidden;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

div.column_box img {
    width: 100%;
    height: auto;
    min-height: 100%;
    transition: all .2s linear;

}

div.column_box img:hover {
    opacity: .8;
}

div.column_box div.text {
    padding: 10px 15px;

}

div.text h3 {
    color: #30404f;
    font-size: 28px;
    text-transform: capitalize;
}

div.text p {
    color: #30404f;
    font-size: 16px;

}


div.link_bio {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.link_bio a {
    color: white;
    font-size: 14px;
    padding: 6px 40px;
    box-shadow: 0px 0px 2px #fccebd;
    text-transform: capitalize;
    transition: all .2s linear;
    background-color: #2a313c;
    border-radius: 20px;



}

div.link_bio a:hover {
    color: transparent;
    text-shadow: 0px -2px 0px #ff5629;
}

/* dashboard media */

@media(max-width: 1200px) {


    div.box div.box1 {
        width: calc(100% / 2 - 20px);
    }

    div.link_bio a {
        margin-top: 5px;
    }

}



@media(max-width: 992px) {
    div.link_bio a {
        margin-top: 0px;
    }

}


@media(max-width: 768px) {
    div.main_container {
        width: 90%;
    }

    div.main_paragraph p {
        font-size: 10px;
    }

    div.link_bio a {
        margin-top: 0px;
    }



}


@media(max-width: 576px) {
    
    .navbar .navbar-brand {
        margin-left: 10px;
    }

    .caption h1 {
        font-weight: 600;
        text-align: center;
        font-size: 24px;
    }

    .caption p {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: 200;
        font-size: 1.2rem;
    }

    .caption a {
        display: block;
        text-align: center;
        margin-top: 10px;
        background-color: #ff5629;
        color: #fff;
        transition: 0.5s ease-in-out;
        padding: 15px 20px;
        font-weight: 600;
        font-size: 1.25rem;
        width: auto;
        border-radius: 10px;
    }

    div.main_container {
        width: 95%;
    }

    div.text h3 {
        font-size: 21px;

    }

    div.text p {
        color: #30404f;
        font-size: 14px;

    }

    div.link_bio a {
        font-size: 12px;
    }

    div.link_bio a {
        margin-top: 0px;
    }


    div.box1 div.column_box {
        width: 100%;
        height: 160px;

    }



}








/*width: 1200px
    width: 992px
    width: 768px
    width: 576px*/


/* 
/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/
/


/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/
/

/
/
/
/
/
/ startup blog
/ */
html,
body {
    margin: 0;
    box-sizing: border-box;

    font-family: roboto, sans-serif;

}

section {
    background-color: #2a313c;

}

div.main_container {
    width: 85%;
    margin: 0 auto;
}



div.main_page {
    background-color: #ffffff;
    padding: 50px;
}

/* tittle*/




div.tittle p {
    color: #30404f;
    float: left;
    padding-top: 50px;
}

div.author {
    float: right;
    padding: 20px;
}



div.image {
    width: 100%;



}




div.work_frame {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

div.work_frame div.work_box {
    width: calc(100% / 3 - 10px);
    margin: 5px;
    overflow: hidden;
}

div.work_box img {
    width: 100%;
    height: auto;
    min-height: 100%;
}






div.users {
    padding: 40px 0px;
}

div.user_page {}























@media(max-width: 992px) {

    div.work_frame div.work_box {
        width: calc(100% / 1 - 20px);
    }
}

@media(max-width: 768px) {


    @media(max-width: 576px) {
        div.main_container {
            width: 95%;
        }
    }
}

/* 
  
  /


  //
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /

  //

  //
  /
  /
  /
  /
  /
  /
  /

  /
  submit form
  */

.wrapper {
    /*background-color: #2a313c;*/
}

a {
    text-decoration: none !important;
}

.block {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background-color: #fff;
    box-shadow: 0px 1px 10px #dce2e3;
    border: 1px solid #eee;
    background-color: #2a313c;
}

.data-block {
    margin-top: 20px;
    padding-top: 20px;
}

.form-inside {
    background-color: #516a7d;
}

.page-title {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.application-content {
    padding: 0 40px 20px;
    max-width: 750px;
    height: 500px;
    overflow: auto;
}

.form-inside {
    margin: 30px;
    padding: 30px;
    box-shadow: 0px 1px 10px #dce2e3;
    border: 1px solid #eee;
    overflow: hidden;
}

.form-group {
    margin-top: 15px;
}

label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.send {
    background-color: #ff5629;
}


.button {
    margin: 15px;
    background: #ff5629;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 19px;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn:hover {
    background: #fccebd;
}

.btn:active {
    background: #49ADE5;
}

input[type="file"] {
    display: none;
}

#file-drag {
    background-color: #fff;
    border: 2px dashed #fff;
    border-radius: 7px;
    color: #555;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 16px 0;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

#file-drag:hover {
    background: #ddd;
}

#file-drag:hover,
#file-drag.hover {
    border-color: #3070A5;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
    color: #3070A5;
}

#file-progress {
    display: none;
    margin: 16px auto;
    width: 100%;
}

#file-upload-btn:hover {
    background: #fccebd;
}

#file-upload-form {
    margin: auto;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info {
    color: #fff;
}

.comment_date{
   
    display: block;
    color: #666;
}